In [1]:
#print Hello World using print() function
print("Hello, World")

Hello, World

In [6]:
# with "hash" you can write single line comment

""" with this (double) triple quote, you can write multiline comment"""

#or 

'''with this (single) triple quote, you can write multiline comment'''

'with this (single) triple quote, you can write multiline comment'

In [8]:
#Indentation matters here 
#Indentation is same as curly braces

'''
for(int i = 0; i < 10; i++){
    cout << i;
}
'''

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [9]:
if True:
    print("Machine Learning")
    c = "NAN"

Machine Learning

In [10]:
#Statements in python are
'''Instruction that our python interpreter can execute'''

a = 1 #single line statement

In [11]:
#multiline statement     using newline character

a = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8

print(a)

36

In [12]:
#multiline using  paranthesis
a = (1 + 2 + 3 + 
    4 + 5 + 6 + 
    7 + 8)

print(a)

36

In [13]:
a = 1; b = 2; c = 3  #putting multiline statement in a single line using semicolon ;