In [3]:
# Variables

'''A variable is a location in memory used to store some data (value).
   They are given unique names to differentiate between different memory locations'''

a = 10
b = "Uma"
c = 1.5

In [5]:
#Variable assingments  see above

''' We don't need to declare a variable before using it.
    We don't even have to declare the type of the variable.
    This is handled internally according to the type of value we assign to the variable.'''

print(a, type(a))
print(b,type(b))
print(c,type(c))

10 <class 'int'>
Uma <class 'str'>
1.5 <class 'float'>

In [6]:
#Multiple Assingments

a, b, c = 10,"uma",5.5     # a= 10; b = "uma"; c = 5.5

In [8]:
a = b = c = "AI"   #same value assingment to the a,b,c

In [11]:
#Storage location

a = 10
print(id(a))  # prints the memeory loaction or address where a is stored

4379968016

In [12]:
b = 10
print(id(b))  #print address of b

4379968016

In [13]:
'''observe above   address of a,b  is same'''

'observe above   address of a,b  is same'


# Data Types

Everything in python has a Data Type

Everything is an Object in Python -> DataTypes are Objects and Variables are Instances on that object

In [17]:
a = 10
print(a, "is type of", type(a))
print(isinstance(a,int))              # check if a is instance of class int or not

10 is type of <class 'int'>
True

In [19]:
b = 1 + 2j             # b belongs to complex class here
print(b, type(b))
print(isinstance(b,complex))

(1+2j) <class 'complex'>
True

# Boolean

bool can be either True or False

In [20]:
a = True        # True  with Capital 'T'  and False with Capital 'F'
print(type(a))

<class 'bool'>

# Python Strings

String is sequence of Unicode characters [not asci character]

String is sequence of Unicode characters. 

We can use single quotes or double quotes to represent strings. 

Multi-line strings can be denoted using triple quotes, ''' or """.

In [5]:
a = "umakant"  #Good works  with double quote
b = 'mukhiya' #it also works with single quote
c = '''Hello there
iam umakant call me uma'''   #this string spans 2 lines #Multiline string

In [8]:
print(type(a))
print(type(b))
print(type(c))
print(c)

<class 'str'>
<class 'str'>
<class 'str'>
Hello there
iam umakant call me uma

Strings can be indexed - often synonymously called subscripted as well. 

Similar to C, the first character of a string has the index 0.

In [15]:
print(c[0])  #print value at 0th Index in c
print(c[-1])  #c[-1] is same as c[len(c)-1]  
print(c[len(c)])

H
a

IndexError: string index out of range

# String Slicing

In [18]:
print(c[3:])  #print from index 3 to end
c[3:]
c[:3]  # [0 : 3)

lo there
iam umakant call me uma

'Hel'

# python list

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. 

All the items in a list do not need to be of the same type.

Declaring a list is , Items separated by commas are enclosed within brackets [ ].

List are mutable/changable i.e. items can be changed

In [19]:
l = [10,5.6,"uma"]    #list defining

l[0] = 20    #mutable/changeable

print(l)

[20, 5.6, 'uma']

# python tuple


Tuple is an ordered sequence of items same as list.

The only difference is that tuples are immutable. 

Tuples once created cannot be modified.

In [25]:
t = (10,4.5,"uma")    #tuple , same as list

t[1]    #value at index 1 in tuple t

t[1] = 5.5   #since tuples are immutable/not changeable. will give error

TypeError: 'tuple' object does not support item assignment

# python set

Set is an unordered collection of unique items.

Set is defined by values separated by comma inside braces { }.

Items in a set are not ordered.

In [28]:
s = {1,1,2,2,3,3}

print(s) #stores only unique item

print(type(s))

s[1]  #gives error bcz set are unordered

{1, 2, 3}
<class 'set'>

TypeError: 'set' object is not subscriptable

# python dictonary

python  dictonary is like storing a table with two column

it is same as unordered map in c++

Dictionary is an unordered collection of key-value pairs.

In Python, dictionaries are defined within braces {} with each item being a pair in the form key:value.

Key and value can be of any type.

In [32]:
d = {1:'a', 2:'b',3:'c'}

print(d[1])

print(d[2])

print(d[3])

a
b
c

# conversion between datatypes

we utilize methods like int(), float(), str() to perform conversion

In [33]:
a = 10
str(a)

'10'

In [34]:
b = '10'
int(b)

10

In [36]:
c = '5.5'
float(c)

5.5

In [37]:
d = 5.5
int(d)

5

In [41]:
user = "uma"
lines = 100

print("Congratulation, " + user + " you've just wrote" + str(lines) + " of code!")  #removing str() will give error

Congratulation, uma you've just wrote100 of code!

# conversion of datastructures

In [42]:
a = [1,2,3]  # a is a list

s = set(a)  # s will contain {1,2,3} as a set  #convert list to set

print(type(a))

print(type(s))

<class 'list'>
<class 'set'>

In [43]:
list("Hello") # conver str to list

['H', 'e', 'l', 'l', 'o']